
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    font-size: 20px;
}

body {
    position: relative;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: -1;  
}



/* Container Styling */
.container {
    max-width: 680px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title and Description Styling */
h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

#description {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Labels and Inputs */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444444;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #2c0dda;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}

/* Radio and Checkbox Groups */
.radio-group, fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



fieldset {
    border: none;
    margin: 10px 0;
}

/* Align Radio Buttons and Labels */
.radio-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;  
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Button Styling */
button {
    padding: 12px;
    background-color: #0348b1;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #380574;
}


select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #2c0dda;
    border-radius: 5px;
    font-size: 16px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, select, textarea {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}
